In [ ]:
Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

Select * from Worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2;

In [ ]:
Write an SQL query to fetch duplicate records having matching data in some fields of
a table.

SELECT a.*
FROM users a
JOIN (SELECT username, email, COUNT(*)
FROM users 
GROUP BY username, email
HAVING count(*) > 1 ) b
ON a.username = b.username
AND a.email = b.email
ORDER BY a.email

In [ ]:
How to remove duplicate rows from Employees table.

WITH EMPLOYEE CTE AS
( SELECT * , ROW_NUMBER() OVER(PARTITION.BY ID ORDER BY ID)AS ROW_NUMBER
FROM EMPLOYEE
)
DELETE FROM EMPLOYEE AS CTE WHERE ROW_NUMBER>1
SELECT * FROM EMPLOYEE