In [ ]:
Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

Select RTRIM(FIRST_NAME) from Worker;

In [ ]:
Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

Select distinct length(DEPARTMENT) from Worker;

In [ ]:
Write an SQL query to fetch nth max salaries from a table.


SELECT TOP 1 Salary
FROM (
 SELECT DISTINCT TOP n Salary
 FROM Worker 
 ORDER BY Salary DESC
 )
ORDER BY Salary ASC;